.gray-text
{
	color: #999;
	font: AuraBoldRegular, Helvetica, Arial;
}
.odd
{
	background-color: #f1f0ef;
}
.even
{
	background-color: #e4d7ea;
}
.reply
{
	background-color: transparent;
	border: 1px solid #999;
	margin-right: -37px;
	width: 100%;
}
h2
{
	font: 24px AuraBoldRegular, Helvetica, Arial !important;
}
h3
{
	font: 18px AuraBoldRegular, Helvetica, Arial;
}
h4
{
	font: 16px AuraBoldRegular, Helvetica, Arial;
}
.up-rating
{
	color: green;
}
.down-rating
{
	color: red;
}